<!DOCTYPE html>
<html>
  <head>
    <title>
       Conexión MySQL Node JS
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="#" class="navbar-brand mx-auto" >Usuarios</a>
    </nav>
    <div class="container">
    <div class="row">
      <div class="col-md-6 mt-4 text-center">
        <table class="table table-striped">
          <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Password</td>
          </tr>
          <% for (var i = 0; i < UsuarioRes.length; i ++) { %>
            <tr>
              <td><%= UsuarioRes[i].IdUser %></td>
              <td><%= UsuarioRes[i].Nombre %></td>
              <td><%= UsuarioRes[i].Password %></td>
            </tr>    
          <% } %>
        </table>
      </div>
      <div class="col-md-6 mt-4 card">
        <form  action="/news" method="POST" class="card-body">
          <h3 class="card-title">agrega Usuarios</h3>
          <div class="form-group">
            IdUser
            <input type="text" name="IdU" value="" class="form-control" placeholder="IDUser">
          </div>
          <div class="form-group">
            Nombre
            <input type="text" name="Nom" value="" class="form-control" placeholder="Nombre">
          </div>
          <div class="form-group">
            Password  
            <input type="text" name="Pass" value="" class="form-control" placeholder="Password">
          </div>
          <input type="submit" name="" value="Grabar" class="btn-primary">
        </form>

      </div>
    </div>
  </div>
    
    
    
      
    
    
  </body>
</html>
